@import "tailwindcss";
@plugin "daisyui" {
}

[data-theme="dark"] {
  --color-primary: #283b81; /*Color Background*/
  --color-secondary: #fffffe; /*Color Bordes*/

  --color-info-content: #141c3a; /*Cajas*/

  --color-base-100: #172346; /*Fade Color 1*/
  --color-base-200: #283b81; /*Fade Color 2*/
  --color-base-300: #3c5ac8; /*Fade Color 3*/
}

[data-theme="light"] {
  --color-primary: #c1caea; /*Color Background*/
  --color-secondary: #fffffe; /*Color Bordes*/

  --color-info-content: #f7f9fc; /*Cajas*/

  --color-base-100: #fefcfb; /*Fade Color 1*/
  --color-base-200: #fefcfb; /*Fade Color 2*/
  --color-base-300: #fefcfb; /*Fade Color 3*/
}

body {
  padding: 0;
  margin: 0;
}
